body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #ffff;
    padding-top: 20px;
    position: relative;
    background-image: url(/Oddo_proj/image/pic-3.png); 
    background-size: cover;
    background-position: center;
    height: 100%; 
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 117%;
    background-color: rgba(0, 0, 0, 0.5); 
}

h1, h3 {
    color: #ffff;
    /* z-index: 1; */
   
}
label{
    font-size: 20px;
}
.container {
    margin-top: 20px;
    position: relative;
    width: 30%;
}

.form-group {
    margin-bottom: 20px;
    z-index: 1; 
    size: 200px;
}
.shop{
    text-shadow:   4px 2px 0 #000, 
    1px 1px 0 #000, 
   1px -1px 0 #000, 
  -1px -1px 0 #000;
    color:white;
    margin-left: 9px; 
    
}

